<div class="container">
  <h1>Gives</h1>



<table>
  <thead>
    <tr>
      <th>No</th>
      <th>title</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <% @gives.each do |gife| %>
      <tr>
        <td><%= gife.id %></td>
        <td><%= link_to gife.title, gife %></td>
        <td><%= gife.name %></td>
      </tr>
     <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Gife', new_gife_path %>
</div>
