<div class="index-content">
  <div class="container">
    <p class="p1">
      <h1><strong>그때 그때 필요한 운동기구</strong></h1>
    </p>
    <p class="p2">
      <h1><strong>더 이상 <br>고민하지 마세요.<br></h1>
    </p>
    <p class="p3">
      <h1><strong><span class="impact">운동창고</span>에서 해결하세요.</strong></h1>
    </p>
  </div>
</div>


<div class="index-article">
  <div class="container">
    <h5><strong>최근 올라온 운동기구</strong></h5>
  </div>
</div>
