<div class="container">
  <h1>Takes</h1>

  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>title</th>
        <th>name</th>
      </tr>
    </thead>

    <tbody>
      <% @takes.each do |take| %>
        <tr>
          <td><%= take.id %></td>
          <td><%= link_to take.title, take %></td>
          <td><%= take.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Take', new_take_path %>
</div>
