<div class="container">

  <div class="card">
    <div class="card-header">
      <h1>New Take</h1>
    </div>

    <div class="card-body">
      <%= render 'form', take: @take %>
      <%= link_to 'Back', takes_path %>
    </div>
  </div>
</div>
